body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background:#fff;
    background-size:cover;
    background-position:center;
    
}
.container{
    position:relative;
    height: 100vh;
}
.login-box{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),
    url(main-img\ \(3\).jpg);
    background-size:cover;
    width:350px;
    border-radius: 5px;
    padding:30px;
    box-shadow:0 15px 25px 0;
}
form h2{
    letter-spacing: 4px;
    color:#fff;
    margin:0 0 0x;
    text-transform: uppercase;
    text-align:left;
    font-size:20px;
}
.user-box input{
    width:100%;
    padding:10px 0;
    margin-bottom: 15px;
    background:none;
    border:none;
    color:#fff;
    outline:none;
    border-bottom:1px solid #fff;
}
.user-box {
    position: relative;
}
.user-box label{
    letter-spacing: 1px;
    color:#fff;
    position:absolute;
    top:0;
    left:0;
    padding:10px 0;
    font-size:14px;
    pointer-events: none;
    transition:0.5s;
}
.user-box input:focus ~ label,
.user-box input:valid ~ label{
    top:-20px;
    color:#48d1cc;
    font-size:12px;
}
.login-box input[type="submit"]{
    margin-top:15px;
    background:#48d1cc;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    font-size:14px;
    transition: 0.5s;
    letter-spacing: 1px;
    outline:none;
}
.login-box input[type="submit"]:hover{
    background:#48d1cc;
    color:#fff;
    box-shadow:0 0 5px #48d1cc,
               0 0 25px #48d1cc,
               0 0 50px #48d1cc,
               0 0 100px #48d1cc;
    cursor: pointer;
}